In [5]:
import pandas as pd
import pandasql as ps

In [2]:
# cd which is short for CovidDeaths
cd = pd.read_excel('data/CovidDeaths.xlsx')
cd.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-02-24,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# cv which is short for CovidVaccinations
cv = pd.read_excel('data/CovidVaccinations.xlsx')
cv.head()

,iso_code,continent,location,date,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [6]:
#to read cd table
ps.sqldf("select * from cd order by 3,4")

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-02-24 00:00:00.000000,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94153,ZWE,Africa,Zimbabwe,2021-06-03 00:00:00.000000,14862927.0,39092.0,61.0,34.000,1604.0,5.0,...,0.115,1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94154,ZWE,Africa,Zimbabwe,2021-06-04 00:00:00.000000,14862927.0,39144.0,52.0,32.286,1605.0,1.0,...,0.125,1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94155,ZWE,Africa,Zimbabwe,2021-06-05 00:00:00.000000,14862927.0,39168.0,24.0,33.571,1605.0,0.0,...,0.106,1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94156,ZWE,Africa,Zimbabwe,2021-06-06 00:00:00.000000,14862927.0,39189.0,21.0,35.000,1606.0,1.0,...,0.115,1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94157,ZWE,Africa,Zimbabwe,2021-06-07 00:00:00.000000,14862927.0,39238.0,49.0,39.571,1611.0,5.0,...,0.163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#to read cv table
ps.sqldf("select * from cv order by 3,4")

,iso_code,continent,location,date,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94153,ZWE,Africa,Zimbabwe,2021-06-03 00:00:00.000000,557596.0,37.516,0.122,1863.0,0.125,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94154,ZWE,Africa,Zimbabwe,2021-06-04 00:00:00.000000,559887.0,37.670,0.154,1928.0,0.130,0.017,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94155,ZWE,Africa,Zimbabwe,2021-06-05 00:00:00.000000,561819.0,37.800,0.130,1914.0,0.129,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94156,ZWE,Africa,Zimbabwe,2021-06-06 00:00:00.000000,562867.0,37.871,0.071,1955.0,0.132,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94157,ZWE,Africa,Zimbabwe,2021-06-07 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [10]:
ps.sqldf("select Location, date, total_cases, new_cases, total_deaths, population from cd order by 1,2")

,location,date,total_cases,new_cases,total_deaths,population
0,Afghanistan,2020-02-24 00:00:00.000000,1.0,1.0,NaN,38928341.0
1,Afghanistan,2020-02-25 00:00:00.000000,1.0,0.0,NaN,38928341.0
2,Afghanistan,2020-02-26 00:00:00.000000,1.0,0.0,NaN,38928341.0
3,Afghanistan,2020-02-27 00:00:00.000000,1.0,0.0,NaN,38928341.0
4,Afghanistan,2020-02-28 00:00:00.000000,1.0,0.0,NaN,38928341.0
...,...,...,...,...,...,...
94153,Zimbabwe,2021-06-03 00:00:00.000000,39092.0,61.0,1604.0,14862927.0
94154,Zimbabwe,2021-06-04 00:00:00.000000,39144.0,52.0,1605.0,14862927.0
94155,Zimbabwe,2021-06-05 00:00:00.000000,39168.0,24.0,1605.0,14862927.0
94156,Zimbabwe,2021-06-06 00:00:00.000000,39189.0,21.0,1606.0,14862927.0
94157,Zimbabwe,2021-06-07 00:00:00.000000,39238.0,49.0,1611.0,14862927.0

In [ ]:
ps.sqldf("")

In [ ]:
ps.sqldf("")

In [ ]:
ps.sqldf("")

In [ ]:
ps.sqldf("")

In [ ]:
ps.sqldf("")