In [1]:
import pandas as pd
import pandasql as ps

In [2]:
# cd which is short for CovidDeaths
cd = pd.read_excel('data/CovidDeaths.xlsx')
cd.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-02-24,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# cv which is short for CovidVaccinations
cv = pd.read_excel('data/CovidVaccinations.xlsx')
cv.head()

,iso_code,continent,location,date,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [4]:
#to read cd table
ps.sqldf("select * from cd where continent is not null order by 3,4")

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-02-24 00:00:00.000000,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89700,ZWE,Africa,Zimbabwe,2021-06-03 00:00:00.000000,14862927.0,39092.0,61.0,34.000,1604.0,5.0,...,0.115,1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89701,ZWE,Africa,Zimbabwe,2021-06-04 00:00:00.000000,14862927.0,39144.0,52.0,32.286,1605.0,1.0,...,0.125,1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89702,ZWE,Africa,Zimbabwe,2021-06-05 00:00:00.000000,14862927.0,39168.0,24.0,33.571,1605.0,0.0,...,0.106,1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89703,ZWE,Africa,Zimbabwe,2021-06-06 00:00:00.000000,14862927.0,39189.0,21.0,35.000,1606.0,1.0,...,0.115,1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89704,ZWE,Africa,Zimbabwe,2021-06-07 00:00:00.000000,14862927.0,39238.0,49.0,39.571,1611.0,5.0,...,0.163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#to read cv table
ps.sqldf("select * from cv where continent is not null order by 3,4")

,iso_code,continent,location,date,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89700,ZWE,Africa,Zimbabwe,2021-06-03 00:00:00.000000,557596.0,37.516,0.122,1863.0,0.125,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89701,ZWE,Africa,Zimbabwe,2021-06-04 00:00:00.000000,559887.0,37.670,0.154,1928.0,0.130,0.017,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89702,ZWE,Africa,Zimbabwe,2021-06-05 00:00:00.000000,561819.0,37.800,0.130,1914.0,0.129,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89703,ZWE,Africa,Zimbabwe,2021-06-06 00:00:00.000000,562867.0,37.871,0.071,1955.0,0.132,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89704,ZWE,Africa,Zimbabwe,2021-06-07 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [6]:
ps.sqldf("select location, date, total_cases, new_cases, total_deaths, population from cd where continent is not null order by 1,2")

,location,date,total_cases,new_cases,total_deaths,population
0,Afghanistan,2020-02-24 00:00:00.000000,1.0,1.0,NaN,38928341.0
1,Afghanistan,2020-02-25 00:00:00.000000,1.0,0.0,NaN,38928341.0
2,Afghanistan,2020-02-26 00:00:00.000000,1.0,0.0,NaN,38928341.0
3,Afghanistan,2020-02-27 00:00:00.000000,1.0,0.0,NaN,38928341.0
4,Afghanistan,2020-02-28 00:00:00.000000,1.0,0.0,NaN,38928341.0
...,...,...,...,...,...,...
89700,Zimbabwe,2021-06-03 00:00:00.000000,39092.0,61.0,1604.0,14862927.0
89701,Zimbabwe,2021-06-04 00:00:00.000000,39144.0,52.0,1605.0,14862927.0
89702,Zimbabwe,2021-06-05 00:00:00.000000,39168.0,24.0,1605.0,14862927.0
89703,Zimbabwe,2021-06-06 00:00:00.000000,39189.0,21.0,1606.0,14862927.0
89704,Zimbabwe,2021-06-07 00:00:00.000000,39238.0,49.0,1611.0,14862927.0

In [7]:
# shows likelihood of dying if you contract covid in US
ps.sqldf("select location, date, total_cases, total_deaths, (total_deaths/total_cases)*100 as DeathPercentage from cd where location like '%states%' and continent is not null  order by 1,2")

,location,date,total_cases,total_deaths,DeathPercentage
0,United States,2020-01-22 00:00:00.000000,1.0,NaN,NaN
1,United States,2020-01-23 00:00:00.000000,1.0,NaN,NaN
2,United States,2020-01-24 00:00:00.000000,2.0,NaN,NaN
3,United States,2020-01-25 00:00:00.000000,2.0,NaN,NaN
4,United States,2020-01-26 00:00:00.000000,5.0,NaN,NaN
...,...,...,...,...,...
498,United States,2021-06-03 00:00:00.000000,33326437.0,596491.0,1.789843
499,United States,2021-06-04 00:00:00.000000,33343297.0,597001.0,1.790468
500,United States,2021-06-05 00:00:00.000000,33357205.0,597377.0,1.790848
501,United States,2021-06-06 00:00:00.000000,33362600.0,597628.0,1.791311
502,United States,2021-06-07 00:00:00.000000,33378096.0,597952.0,1.791450

In [8]:
# total cases vs the population
ps.sqldf("select location, date, population, total_cases, (total_cases/population)*100 as PercentPopulationInfected from cd where location like '%states%' and continent is not null order by 1,2")

,location,date,population,total_cases,PercentPopulationInfected
0,United States,2020-01-22 00:00:00.000000,331002647.0,1.0,3.021124e-07
1,United States,2020-01-23 00:00:00.000000,331002647.0,1.0,3.021124e-07
2,United States,2020-01-24 00:00:00.000000,331002647.0,2.0,6.042248e-07
3,United States,2020-01-25 00:00:00.000000,331002647.0,2.0,6.042248e-07
4,United States,2020-01-26 00:00:00.000000,331002647.0,5.0,1.510562e-06
...,...,...,...,...,...
498,United States,2021-06-03 00:00:00.000000,331002647.0,33326437.0,1.006833e+01
499,United States,2021-06-04 00:00:00.000000,331002647.0,33343297.0,1.007342e+01
500,United States,2021-06-05 00:00:00.000000,331002647.0,33357205.0,1.007762e+01
501,United States,2021-06-06 00:00:00.000000,331002647.0,33362600.0,1.007925e+01
502,United States,2021-06-07 00:00:00.000000,331002647.0,33378096.0,1.008394e+01

In [9]:
# looking for countries with highest infection rate compated to population
ps.sqldf("select location, population, MAX(total_cases) as HighestInfectionCount, MAX((total_cases/population))*100 as PercentPopulationInfected from cd where continent is not null group by location, population order by PercentPopulationInfected desc")

,location,population,HighestInfectionCount,PercentPopulationInfected
0,Andorra,77265.0,13777.0,17.830842
1,Montenegro,628062.0,99834.0,15.895564
2,Czechia,10708982.0,1663607.0,15.534689
3,San Marino,33938.0,5090.0,14.997937
4,Bahrain,1701583.0,252600.0,14.845000
...,...,...,...,...
215,Tonga,105697.0,NaN,NaN
216,Turkmenistan,6031187.0,NaN,NaN
217,Turks and Caicos Islands,38718.0,NaN,NaN
218,Tuvalu,11792.0,NaN,NaN
219,Wallis and Futuna,11246.0,NaN,NaN

In [10]:
# showing countries with highest death count per population
ps.sqldf("select location, MAX(cast(total_deaths as int)) as TotalDeathCount from cd where continent is not null group by location order by TotalDeathCount desc")

                            location  TotalDeathCount
0                      United States         597952.0
1                             Brazil         474414.0
2                              India         351309.0
3                             Mexico         228838.0
4                               Peru         186511.0
..                               ...              ...
215           British Virgin Islands              NaN
216  Bonaire Sint Eustatius and Saba              NaN
217                          Bermuda              NaN
218                            Aruba              NaN
219                         Anguilla              NaN

[220 rows x 2 columns]

In [11]:
# showing continent with highest death count
ps.sqldf("select continent, MAX(cast(total_deaths as int)) as TotalDeathCount from cd  where continent is not null group by continent order by TotalDeathCount desc")

       continent  TotalDeathCount
0  North America           597952
1  South America           474414
2           Asia           351309
3         Europe           128104
4         Africa            57063
5        Oceania              910

In [12]:
# let's break things down by continent
ps.sqldf("select location, MAX(cast(total_deaths as int)) as TotalDeathCount from cd  where continent is null group by location order by TotalDeathCount desc")

         location  TotalDeathCount
0           World          3736961
1          Europe          1082304
2   South America           919460
3   North America           887715
4  European Union           729761
5            Asia           713778
6          Africa           132584
7         Oceania             1105
8   International               15

In [13]:
# Global numbers
ps.sqldf("select location, date, total_cases, total_deaths, (total_deaths/total_cases)*100 as DeathPercentage from cd where continent is not null order by 1,2")

,location,date,total_cases,total_deaths,DeathPercentage
0,Afghanistan,2020-02-24 00:00:00.000000,1.0,NaN,NaN
1,Afghanistan,2020-02-25 00:00:00.000000,1.0,NaN,NaN
2,Afghanistan,2020-02-26 00:00:00.000000,1.0,NaN,NaN
3,Afghanistan,2020-02-27 00:00:00.000000,1.0,NaN,NaN
4,Afghanistan,2020-02-28 00:00:00.000000,1.0,NaN,NaN
...,...,...,...,...,...
89700,Zimbabwe,2021-06-03 00:00:00.000000,39092.0,1604.0,4.103141
89701,Zimbabwe,2021-06-04 00:00:00.000000,39144.0,1605.0,4.100245
89702,Zimbabwe,2021-06-05 00:00:00.000000,39168.0,1605.0,4.097733
89703,Zimbabwe,2021-06-06 00:00:00.000000,39189.0,1606.0,4.098089
89704,Zimbabwe,2021-06-07 00:00:00.000000,39238.0,1611.0,4.105714

In [14]:
ps.sqldf("select date, SUM(new_cases) as TotalCases, SUM(cast(new_deaths as int)) as TotalDeaths, SUM(cast(new_deaths as int))/SUM(new_cases)*100 as DeathPercentage from cd where continent is not null group by date order by 1,2")

                           date  TotalCases  TotalDeaths  DeathPercentage
0    2020-01-01 00:00:00.000000         NaN          NaN              NaN
1    2020-01-02 00:00:00.000000         NaN          NaN              NaN
2    2020-01-03 00:00:00.000000         NaN          NaN              NaN
3    2020-01-04 00:00:00.000000         NaN          NaN              NaN
4    2020-01-05 00:00:00.000000         NaN          NaN              NaN
..                          ...         ...          ...              ...
519  2021-06-03 00:00:00.000000    489117.0       9909.0         2.025896
520  2021-06-04 00:00:00.000000    419717.0      10939.0         2.606280
521  2021-06-05 00:00:00.000000    398361.0       9167.0         2.301179
522  2021-06-06 00:00:00.000000    322641.0       7149.0         2.215775
523  2021-06-07 00:00:00.000000    320618.0       8076.0         2.518885

[524 rows x 4 columns]

In [21]:
ps.sqldf("select SUM(new_cases) as total_cases, SUM(cast(new_deaths as int)) as total_deaths, SUM(cast(new_deaths as int))/SUM(new_cases)*100 as DeathPercentage from cd where continent is not null order by 1,2")

   total_cases  total_deaths  DeathPercentage
0  173155430.0       3736008         2.157604

In [16]:
# let's look at cv - Covid Vaccinations table
ps.sqldf("select * from cv")

,iso_code,continent,location,date,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94153,ZWE,Africa,Zimbabwe,2021-06-03 00:00:00.000000,557596.0,37.516,0.122,1863.0,0.125,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94154,ZWE,Africa,Zimbabwe,2021-06-04 00:00:00.000000,559887.0,37.670,0.154,1928.0,0.130,0.017,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94155,ZWE,Africa,Zimbabwe,2021-06-05 00:00:00.000000,561819.0,37.800,0.130,1914.0,0.129,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94156,ZWE,Africa,Zimbabwe,2021-06-06 00:00:00.000000,562867.0,37.871,0.071,1955.0,0.132,0.018,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94157,ZWE,Africa,Zimbabwe,2021-06-07 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [17]:
# let's join two tables
ps.sqldf("select * from cd join cv on cd.location = cv.location and cd.date = cv.date")

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24 00:00:00.000000,38928341.0,1.0,1.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28 00:00:00.000000,38928341.0,1.0,0.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94153,ZWE,Africa,Zimbabwe,2021-06-03 00:00:00.000000,14862927.0,39092.0,61.0,34.000,1604.0,5.0,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94154,ZWE,Africa,Zimbabwe,2021-06-04 00:00:00.000000,14862927.0,39144.0,52.0,32.286,1605.0,1.0,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94155,ZWE,Africa,Zimbabwe,2021-06-05 00:00:00.000000,14862927.0,39168.0,24.0,33.571,1605.0,0.0,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94156,ZWE,Africa,Zimbabwe,2021-06-06 00:00:00.000000,14862927.0,39189.0,21.0,35.000,1606.0,1.0,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
94157,ZWE,Africa,Zimbabwe,2021-06-07 00:00:00.000000,14862927.0,39238.0,49.0,39.571,1611.0,5.0,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [18]:
# looking at total population vs vaccinations
ps.sqldf("select cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations, SUM(cast(cv.new_vaccinations as int)) OVER(partition by cd.location order by cd.location, cd.date) as RollingPeopleVaxed from cd join cv on cd.location = cv.location and cd.date = cv.date where cd.continent is not null order by 2,3")

,continent,location,date,population,new_vaccinations,RollingPeopleVaxed
0,Asia,Afghanistan,2020-02-24 00:00:00.000000,38928341.0,NaN,NaN
1,Asia,Afghanistan,2020-02-25 00:00:00.000000,38928341.0,NaN,NaN
2,Asia,Afghanistan,2020-02-26 00:00:00.000000,38928341.0,NaN,NaN
3,Asia,Afghanistan,2020-02-27 00:00:00.000000,38928341.0,NaN,NaN
4,Asia,Afghanistan,2020-02-28 00:00:00.000000,38928341.0,NaN,NaN
...,...,...,...,...,...,...
89700,Africa,Zimbabwe,2021-06-03 00:00:00.000000,14862927.0,8290.0,1047190.0
89701,Africa,Zimbabwe,2021-06-04 00:00:00.000000,14862927.0,7734.0,1054924.0
89702,Africa,Zimbabwe,2021-06-05 00:00:00.000000,14862927.0,5713.0,1060637.0
89703,Africa,Zimbabwe,2021-06-06 00:00:00.000000,14862927.0,NaN,1060637.0
89704,Africa,Zimbabwe,2021-06-07 00:00:00.000000,14862927.0,NaN,1060637.0

In [19]:
# using CTEs
ps.sqldf("WITH PopvsVac (continent, location, date, population, new_vaccinations, RollingPeopleVaxed)"
         "AS (select cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations, SUM(cast(cv.new_vaccinations as int)) OVER(partition by cd.location order by cd.location, cd.date) as RollingPeopleVaxed from cd join cv on cd.location = cv.location and cd.date = cv.date where cd.continent is not null)"
"SELECT *, (RollingPeopleVaxed/population)*100 PopulationVaxedPercentage FROM PopvsVac")

,continent,location,date,population,new_vaccinations,RollingPeopleVaxed,PopulationVaxedPercentage
0,Asia,Afghanistan,2020-02-24 00:00:00.000000,38928341.0,NaN,NaN,NaN
1,Asia,Afghanistan,2020-02-25 00:00:00.000000,38928341.0,NaN,NaN,NaN
2,Asia,Afghanistan,2020-02-26 00:00:00.000000,38928341.0,NaN,NaN,NaN
3,Asia,Afghanistan,2020-02-27 00:00:00.000000,38928341.0,NaN,NaN,NaN
4,Asia,Afghanistan,2020-02-28 00:00:00.000000,38928341.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
89700,Africa,Zimbabwe,2021-06-03 00:00:00.000000,14862927.0,8290.0,1047190.0,7.045651
89701,Africa,Zimbabwe,2021-06-04 00:00:00.000000,14862927.0,7734.0,1054924.0,7.097687
89702,Africa,Zimbabwe,2021-06-05 00:00:00.000000,14862927.0,5713.0,1060637.0,7.136125
89703,Africa,Zimbabwe,2021-06-06 00:00:00.000000,14862927.0,NaN,1060637.0,7.136125
89704,Africa,Zimbabwe,2021-06-07 00:00:00.000000,14862927.0,NaN,1060637.0,7.136125

In [20]:
# # temp table
# ps.sqldf("DROP TABLE if exists #PercentPopulationVaxed Create Table #PercentPopulationVaxed (Continent nvarchar(255), location nvarchar(255), date datetime, population numeric, new_vaccinations numeric, RollingPeopleVaxed numeric)"
#         "Insert into PercentPopulationVaxed"
#         "select cd.continent, cd.location, cd.date, cd.population, cv.new_vaccinations, SUM(cast(cv.new_vaccinations as int)) OVER(partition by cd.location order by cd.location, cd.date) as RollingPeopleVaxed"
#         "from cd join cv on cd.location = cv.location and cd.date = cv.date"
#         "where cd.continentis not null"
#         "select *, (RollingPeopleVaxed/population)*100"
#         "from #PercentPopulationVaxed")

#### Getting tables ready for Tableau

In [23]:
ps.sqldf("select SUM(new_cases) as total_cases, SUM(cast(new_deaths as int)) as total_deaths, SUM(cast(new_deaths as int))/SUM(new_cases)*100 as DeathPercentage from cd where continent is not null order by 1,2")

   total_cases  total_deaths  DeathPercentage
0  173155430.0       3736008         2.157604

In [22]:
# let's break things down by continent excluding 'World', 'European Union', 'International'
ps.sqldf("select location, SUM(cast(new_deaths as int)) as TotalDeathCount from cd  where continent is null and location not in ('World', 'European Union', 'International') group by location order by TotalDeathCount desc")

        location  TotalDeathCount
0         Europe          1082304
1  South America           918539
2  North America           887715
3           Asia           713761
4         Africa           132584
5        Oceania             1105

In [26]:
pd.set_option('display.max_rows', None)

In [27]:
# looking for countries with highest infection rate compated to population
ps.sqldf("select location, population, MAX(total_cases) as HighestInfectionCount, MAX((total_cases/population))*100 as PercentPopulationInfected from cd group by location, population order by PercentPopulationInfected desc")

,location,population,HighestInfectionCount,PercentPopulationInfected
0,Andorra,7.726500e+04,13777.0,17.830842
1,Montenegro,6.280620e+05,99834.0,15.895564
2,Czechia,1.070898e+07,1663607.0,15.534689
3,San Marino,3.393800e+04,5090.0,14.997937
4,Bahrain,1.701583e+06,252600.0,14.845000
5,Seychelles,9.834000e+04,12466.0,12.676429
6,Maldives,5.405420e+05,68502.0,12.672836
7,Slovenia,2.078932e+06,255432.0,12.286693
8,Luxembourg,6.259760e+05,70256.0,11.223433
9,Sweden,1.009927e+07,1078062.0,10.674653
10,Serbia,6.804596e+06,713840.0,10.490557
11,Lithuania,2.722291e+06,276543.0,10.158466
12,United States,3.310026e+08,33378096.0,10.083936
13,Netherlands,1.713487e+07,1691866.0,9.873817
14,Estonia,1.326539e+06,130156.0,9.811698
15,Israel,8.655541e+06,839585.0,9.699971
16,Belgium,1.158962e+07,1071271.0,9.243369
17,Uruguay,3.473727e+06,318783.0,9.176973
18,Panama,4.314768e+06,382851.0,8.873038
19,France,6.756425e+07,5978650.0,8.848836
20,Argentina,4.519578e+07,3977634.0,8.800897
21,Georgia,3.989175e+06,349405.0,8.758829
22,Croatia,4.105268e+06,357608.0,8.710954
23,Portugal,1.019671e+07,853034.0,8.365779
24,Hungary,9.660350e+06,806089.0,8.344304
25,Cyprus,8.758990e+05,72859.0,8.318197
26,Switzerland,8.654618e+06,698369.0,8.069322
27,Brazil,2.125594e+08,16984218.0,7.990339
28,Lebanon,6.825442e+06,541628.0,7.935427
29,Spain,4.675478e+07,3707523.0,7.929719
30,Liechtenstein,3.813700e+04,3022.0,7.924063
31,Poland,3.784660e+07,2875328.0,7.597321
32,Qatar,2.881060e+06,218798.0,7.594358
33,Armenia,2.963234e+06,223212.0,7.532716
34,Chile,1.911621e+07,1434884.0,7.506112
35,Kuwait,4.270563e+06,318676.0,7.462154
36,North Macedonia,2.083380e+06,155418.0,7.459897
37,European Union,4.449191e+08,32386888.0,7.279276
38,Jordan,1.020314e+07,739847.0,7.251170
39,Austria,9.006400e+06,647079.0,7.184658
40,Slovakia,5.459643e+06,390451.0,7.151585
41,Latvia,1.886202e+06,134888.0,7.151302
42,Colombia,5.088288e+07,3593016.0,7.061345
43,Italy,6.046183e+07,4233698.0,7.002266
44,Malta,4.415390e+05,30571.0,6.923737
45,South America,4.307598e+08,29766127.0,6.910145
46,United Kingdom,6.788600e+07,4538399.0,6.685324
47,North America,5.920722e+08,39096590.0,6.603348
48,Costa Rica,5.094114e+06,331920.0,6.515755
49,Monaco,3.924400e+04,2508.0,6.390786
50,Moldova,4.033963e+06,255501.0,6.333747
51,Europe,7.486801e+08,47201527.0,6.304633
52,Turkey,8.433907e+07,5293627.0,6.276601
53,Bosnia and Herzegovina,3.280815e+06,204410.0,6.230464
54,Palestine,5.101416e+06,310026.0,6.077254
55,Bulgaria,6.948445e+06,419681.0,6.039927
56,Peru,3.297185e+07,1983570.0,6.015951
57,United Arab Emirates,9.890400e+06,585039.0,5.915221
58,Romania,1.923768e+07,1078952.0,5.608534
59,Cape Verde,5.559880e+05,31147.0,5.602099
60,Kosovo,1.932774e+06,107099.0,5.541207
61,Ireland,4.937796e+06,264875.0,5.364235
62,Paraguay,7.132530e+06,375996.0,5.271566
63,Ukraine,4.373376e+07,2274375.0,5.200502
64,Denmark,5.792203e+06,287735.0,4.967626
65,Albania,2.877800e+06,132384.0,4.600181
66,Germany,8.378394e+07,3710342.0,4.428464
67,Oman,5.106622e+06,225095.0,4.407904
68,Belarus,9.449321e+06,400422.0,4.237574
69,Greece,1.042306e+07,410166.0,3.935180
70,Canada,3.774216e+07,1401912.0,3.714446
71,Iran,8.399295e+07,2971270.0,3.537523
72,Russia,1.459345e+08,5076543.0,3.478646
73,Vatican,8.090000e+02,27.0,3.337454
74,Bolivia,1.167303e+07,387162.0,3.316723
75,Azerbaijan,1.013918e+07,334747.0,3.301521
76,Belize,3.976210e+05,12899.0,3.244044
77,Bahamas,3.932480e+05,12024.0,3.057612
78,Iraq,4.022250e+07,1229121.0,3.055804
79,Tunisia,1.181862e+07,356750.0,3.018542
80,South Africa,5.930869e+07,1699849.0,2.866104
81,Suriname,5.866340e+05,16786.0,2.861409
82,Saint Lucia,1.836290e+05,5138.0,2.798033
83,Dominican Republic,1.084790e+07,301984.0,2.783800
84,Libya,6.871287e+06,187685.0,2.731439
85,Botswana,2.351625e+06,58095.0,2.470419
86,Ecuador,1.764306e+07,432739.0,2.452743
87,Honduras,9.904608e+06,242377.0,2.447114
88,Kazakhstan,1.877671e+07,451641.0,2.405326
89,Norway,5.421242e+06,127066.0,2.343854
90,Namibia,2.540916e+06,59092.0,2.325618
91,Guyana,7.865590e+05,17718.0,2.252596
92,World,7.794799e+09,173631266.0,2.227527
93,India,1.380004e+09,28996473.0,2.101187
94,Mongolia,3.278292e+06,67710.0,2.065405
95,Nepal,2.913681e+07,591494.0,2.030058
96,Malaysia,3.236600e+07,622086.0,1.922036
97,Iceland,3.412500e+05,6555.0,1.920879
98,Trinidad and Tobago,1.399491e+06,26799.0,1.914910
99,Mexico,1.289328e+08,2434562.0,1.888242
100,Saint Vincent and the Grenadines,1.109470e+05,2076.0,1.871164
101,Finland,5.540718e+06,93281.0,1.683554
102,Jamaica,2.961161e+06,48810.0,1.648340
103,Kyrgyzstan,6.524191e+06,107335.0,1.645185
104,Eswatini,1.160164e+06,18664.0,1.608738
105,Guatemala,1.791557e+07,262255.0,1.463839
106,Morocco,3.691056e+07,521530.0,1.412956
107,Barbados,2.873710e+05,4032.0,1.403064
108,Cuba,1.132662e+07,150103.0,1.325224
109,Saudi Arabia,3.481387e+07,458707.0,1.317599
110,Antigua and Barbuda,9.792800e+04,1263.0,1.289723
111,Djibouti,9.880020e+05,11565.0,1.170544
112,Philippines,1.095811e+08,1276004.0,1.164438
113,El Salvador,6.486201e+06,74141.0,1.143057
114,Asia,4.639847e+09,52585290.0,1.133341
115,Gabon,2.225728e+06,24591.0,1.104852
116,Sao Tome and Principe,2.191610e+05,2353.0,1.073640
117,Singapore,5.850343e+06,62210.0,1.063356
118,Sri Lanka,2.141325e+07,207979.0,0.971263
119,Venezuela,2.843594e+07,243621.0,0.856736
120,Indonesia,2.735236e+08,1863031.0,0.681123
121,Equatorial Guinea,1.402985e+06,8626.0,0.614832
122,Japan,1.264765e+08,764185.0,0.604211
123,Timor,1.318442e+06,7764.0,0.588877
124,Zambia,1.838396e+07,100765.0,0.548114
125,Lesotho,2.142252e+06,10837.0,0.505870
126,Bangladesh,1.646894e+08,812960.0,0.493632
127,Comoros,8.695950e+05,3890.0,0.447335
128,Mauritania,4.649660e+06,19853.0,0.426977
129,Pakistan,2.208923e+08,935013.0,0.423289
130,Africa,1.340598e+09,4930955.0,0.367818
131,Kenya,5.377130e+07,172639.0,0.321062
132,Uzbekistan,3.346920e+07,101964.0,0.304650
133,Ghana,3.107294e+07,94228.0,0.303248
134,Algeria,4.385104e+07,131283.0,0.299384
135,Cameroon,2.654586e+07,78929.0,0.297331
136,South Korea,5.126918e+07,145091.0,0.282998
137,Myanmar,5.440979e+07,144456.0,0.265496
138,Zimbabwe,1.486293e+07,39238.0,0.263999
139,Egypt,1.023344e+08,268754.0,0.262623
140,Dominica,7.199100e+04,188.0,0.261144
141,Thailand,6.979998e+07,179886.0,0.257716
142,Senegal,1.674393e+07,41713.0,0.249123
143,Gambia,2.416664e+06,6002.0,0.248359
144,Ethiopia,1.149636e+08,273024.0,0.237487
145,Mozambique,3.125544e+07,71145.0,0.227624
146,Bhutan,7.716120e+05,1703.0,0.220707
147,Congo,5.518092e+06,12026.0,0.217938
148,Rwanda,1.295221e+07,27307.0,0.210829
149,Cambodia,1.671897e+07,34833.0,0.208344
150,Afghanistan,3.892834e+07,80841.0,0.207666
151,Guinea-Bissau,1.967998e+06,3787.0,0.192429
152,Papua New Guinea,8.947027e+06,16374.0,0.183011
153,Cote d'Ivoire,2.637828e+07,47493.0,0.180046
154,Malawi,1.912996e+07,34403.0,0.179838
155,Guinea,1.313279e+07,23307.0,0.177472
156,Togo,8.278737e+06,13542.0,0.163576
157,Hong Kong,7.496988e+06,11865.0,0.158264
158,Saint Kitts and Nevis,5.319200e+04,83.0,0.156039
159,Madagascar,2.769102e+07,41742.0,0.150742
160,Central African Republic,4.829764e+06,7101.0,0.147026
161,Grenada,1.125190e+05,161.0,0.143087
162,Syria,1.750066e+07,24680.0,0.141023
163,Tajikistan,9.537642e+06,13308.0,0.139531
164,Haiti,1.140253e+07,15435.0,0.135365
165,Eritrea,3.546427e+06,4499.0,0.126860
166,Australia,2.549988e+07,30205.0,0.118452
167,Uganda,4.574100e+07,53961.0,0.117971
168,Oceania,4.267781e+07,50056.0,0.117288
169,Mauritius,1.271767e+06,1458.0,0.114644
170,Nicaragua,6.624554e+06,7481.0,0.112928
171,Angola,3.286627e+07,35854.0,0.109091
172,South Sudan,1.119373e+07,10688.0,0.095482
173,Somalia,1.589322e+07,14768.0,0.092920
174,Fiji,8.964440e+05,751.0,0.083775
175,Sudan,4.384927e+07,36004.0,0.082109
176,Nigeria,2.061396e+08,166816.0,0.080924
177,Mali,2.025083e+07,14302.0,0.070624
178,Benin,1.212320e+07,8082.0,0.066666
179,Burkina Faso,2.090328e+07,13453.0,0.064358
180,New Zealand,4.822233e+06,2692.0,0.055825
181,Brunei,4.374830e+05,244.0,0.055774
182,Sierra Leone,7.976985e+06,4208.0,0.052752
183,Taiwan,2.381678e+07,11491.0,0.048248
184,Liberia,5.057677e+06,2290.0,0.045278
185,Burundi,1.189078e+07,4925.0,0.041419
186,Democratic Republic of Congo,8.956140e+07,33338.0,0.037224
187,Chad,1.642586e+07,4940.0,0.030075
188,Laos,7.275556e+06,1968.0,0.027049
189,Yemen,2.982597e+07,6812.0,0.022839
190,Niger,2.420664e+07,5439.0,0.022469
191,Vietnam,9.733858e+07,9027.0,0.009274
192,Marshall Islands,5.919400e+04,4.0,0.006757
193,China,1.439324e+09,91351.0,0.006347
194,Solomon Islands,6.868780e+05,20.0,0.002912
195,Kiribati,1.194460e+05,2.0,0.001674
196,Samoa,1.984100e+05,3.0,0.001512
197,Vanuatu,3.071500e+05,4.0,0.001302
198,Micronesia (country),1.150210e+05,1.0,0.000869
199,Tanzania,5.973421e+07,509.0,0.000852
200,Anguilla,1.500200e+04,NaN,NaN
201,Aruba,1.067660e+05,NaN,NaN
202,Bermuda,6.227300e+04,NaN,NaN
203,Bonaire Sint Eustatius and Saba,2.622100e+04,NaN,NaN
204,British Virgin Islands,3.023700e+04,NaN,NaN
205,Cayman Islands,6.572000e+04,NaN,NaN
206,Cook Islands,1.756400e+04,NaN,NaN
207,Curacao,1.641000e+05,NaN,NaN
208,Faeroe Islands,4.886500e+04,NaN,NaN
209,Falkland Islands,3.483000e+03,NaN,NaN
210,French Polynesia,2.809040e+05,NaN,NaN
211,Gibraltar,3.369100e+04,NaN,NaN
212,Greenland,5.677200e+04,NaN,NaN
213,Guernsey,6.705200e+04,NaN,NaN
214,International,NaN,721.0,NaN
215,Isle of Man,8.503200e+04,NaN,NaN
216,Jersey,1.010730e+05,NaN,NaN
217,Macao,6.493420e+05,NaN,NaN
218,Montserrat,4.999000e+03,NaN,NaN
219,Nauru,1.083400e+04,NaN,NaN
220,New Caledonia,2.854910e+05,NaN,NaN
221,Northern Cyprus,NaN,NaN,NaN
222,Saint Helena,6.071000e+03,NaN,NaN
223,Sint Maarten (Dutch part),4.288200e+04,NaN,NaN
224,Tonga,1.056970e+05,NaN,NaN
225,Turkmenistan,6.031187e+06,NaN,NaN
226,Turks and Caicos Islands,3.871800e+04,NaN,NaN
227,Tuvalu,1.179200e+04,NaN,NaN
228,Wallis and Futuna,1.124600e+04,NaN,NaN

In [29]:
# looking for countries with highest infection rate compated to population
s= ps.sqldf("select location, population, date, MAX(total_cases) as HighestInfectionCount, MAX((total_cases/population))*100 as PercentPopulationInfected from cd group by location, population, date order by PercentPopulationInfected desc")

In [31]:
s.to_excel('data/Tableau Table 4.xlsx')