In [1]:
import pandas as pd
import os

In [2]:
#pwd = os.getcwd()
data = pd.read_excel('data/Data - Survey Monkey Output Edited.xlsx', 
                     sheet_name='Edited_Data')

In [3]:
data.shape

(198, 100)

In [4]:
data.head()

,Respondent ID,Start Date,End Date,Email Address,First Name,Last Name,Custom Data 1,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5379192392,2021-01-22 12:01:17,2021-01-22 12:40:34,NaN,NaN,NaN,NaN,Infrastructure,NaN,Staff,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2658722536,2021-01-22 06:56:37,2021-01-22 07:34:10,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4044163394,2021-01-22 06:35:18,2021-01-22 06:47:32,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5535865599,2021-01-21 21:29:32,2021-01-21 21:40:24,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3356802928,2021-01-21 17:26:39,2021-01-21 17:44:40,NaN,NaN,NaN,NaN,Port Operations,NaN,Manager,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8

In [5]:
data_modified = data.copy()

In [6]:
data_modified.columns

Index(['Respondent ID', 'Start Date', 'End Date', 'Email Address',
       'First Name', 'Last Name', 'Custom Data 1',
       'Identify which division you work in. - Response',
       'Identify which division you work in. - Other (please specify)',
       'Which of the following best describes your position level? - Response',
       'Which generation are you apart of? - Response',
       'Please select the gender in which you identify. - Response',
       'Which duration range best aligns with your tenure at your company? - Response',
       'Which of the following best describes your employment type? - Response',
       'Question 1 - Response', 'Question 2 - Response',
       'Question 3 - Open-Ended Response', 'Question 4 - Response',
       'Question 4 - Other (please specify)', 'Question 5 - Response 1',
       'Question 5 - Response 2', 'Question 5 - Response 3',
       'Question 5 - Response 4', 'Question 5 - Response 5',
       'Question 5 - Response 6', 'Question 6 - Response 1',
       'Question 6 - Response 2', 'Question 6 - Response 3',
       'Question 6 - Response 4', 'Question 6 - Response 5',
       'Question 6 - Response 6', 'Question 7 - Response 1',
       'Question 7 - Unscheduled', 'Question 8 - Response 1',
       'Question 8 - Response 2', 'Question 8 - Response 3',
       'Question 8 - Response 4', 'Question 9 - Response 1',
       'Question 9 - Response 2', 'Question 9 - Response 3',
       'Question 9 - Response 4', 'Question 10 - Response 1',
       'Question 10 - Response 2', 'Question 10 - Response 3',
       'Question 10 - Response 4', 'Question 10 - Response 5',
       'Question 11 - Reponse 1', 'Question 11 - Response 2',
       'Question 12 - Response', 'Question 13 - Response',
       'Question 14 - Response', 'Question 15 - Response',
       'Question 16 - Response', 'Question 17 - Response',
       'Question 18 - Response', 'Question 19 - Response',
       'Question 19 - Other (please specify)', 'Question 20 - Response',
       'Question 21 - Response', 'Question 22 - Reponse 1',
       'Question 22 - Reponse 2', 'Question 23 - Response',
       'Question 24 - Response 1', 'Question 24 - Response 2',
       'Question 24 - Response 3', 'Question 24 - Response 4',
       'Question 24 - Response 5', 'Question 25 - Response 1',
       'Question 25 - Response 2', 'Question 25 - Response 3',
       'Question 25 - Response 4', 'Question 25 - Response 5',
       'Question 25 - Response 6', 'Question 25 - Response 7',
       'Question 25 - Response 8', 'Question 25 - Response 9',
       'Question 26 - Response 1', 'Question 26 - Response 2',
       'Question 26 - Response 3', 'Question 26 - Response 4',
       'Question 27 - Response 1', 'Question 27 - Response 2',
       'Question 28 - Response', 'Question 29 - Response 1',
       'Question 29 - Response 2', 'Question 29 - Response 3',
       'Question 29 - Response 4', 'Question 29 - Response 5',
       'Question 29 - Response 6', 'Question 29 - Response 7',
       'Question 29 - Response 8', 'Question 29 - Response 9',
       'Question 29 - Response 10', 'Question 29 - Response 11',
       'Question 29 - Response 12', 'Question 29 - Response 13',
       'Question 29 - Response 14', 'Question 30 - Response 1',
       'Question 30 - Response 2', 'Question 30 - Response 3'],
      dtype='object')

In [7]:
columns_to_drop = ['Start Date', 'End Date', 'Email Address',
       'First Name', 'Last Name', 'Custom Data 1']
data_modified.drop(columns=columns_to_drop, axis=1, inplace=True)
data_modified.head()

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question 1 - Response,Question 2 - Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,NaN,Answer 6,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Answer 4,Answer 2,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Answer 5,Answer 7,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Answer 1,Answer 1,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,NaN,Answer 3,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8

In [8]:
# Creating a list that we want to keep (include in id_vars) option of melt
#data_modified.columns
id_vars = list(data_modified.columns[:8])

In [9]:
# Columns we want to melt
value_vars = list(data_modified.columns[8:])

In [10]:
data_melted = data_modified.melt(id_vars=id_vars, value_vars=value_vars, var_name="Question + Subquestion" , value_name="Answer")

In [11]:
data_melted.shape

(17028, 10)

In [12]:
data_melted.head()

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question + Subquestion,Answer
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 1 - Response,NaN